<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h4 m-0">Nuevo producto</h1>
  <%= link_to "Volver", dashboard_productos_path, class: "btn btn-secondary" %>
</div>

<%= render "form" %>
