            <div class="block-slideshow block-slideshow--layout--with-departments block">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="block-slideshow__body">
                                                        <div class="owl-carousel">
                                                                <% banners = @banners_principales || [] %>
                                                                <% seen = {} %>
                                                                <% banners.each do |b| %>
                                                                    <% next unless b.respond_to?(:imagen) && b.imagen.attached? %>
                                                                    <% key = b.imagen.blob.key rescue nil %>
                                                                    <% next if key && seen[key] %>
                                                                    <% seen[key] = true if key %>
                                                                    <a class="block-slideshow__slide" href="<%= b.respond_to?(:link) && b.link.present? ? b.link : '#' %>">
                                                                        <div class="block-slideshow__slide-media">
                                                                            <img src="<%= url_for(b.imagen.variant(resize_to_limit: [1600,800])) %>" alt="<%= b.respond_to?(:titulo) ? b.titulo : 'Banner' %>" class="banner-principal-img">
                                                                        </div>
                                                            
                                                                    </a>
                                                                <% end %>
                                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>